.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.box{
  height: 700px;
}
.jumbotron{
/*  font-weight: 700;
  font-size: 2em;
  color:#b640a6;
  background-size: cover;
  min-height: 1000px;

  border-radius: 100px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  background-image: url(https://cdn.pixabay.com/photo/2015/01/22/21/32/stones-608373_960_720.jpg);
 background-repeat: repeat, repeat; */
  background-position:center;
  
}
ul{padding:10px;
margin: auto;
width: 10%;
}
